.App {
  text-align: center;
  padding-top: 10vmin;
  max-width: 720px;
  margin: 0 auto;
}

.mainForm {
  margin-bottom: 2rem;
}

.dataTable {
  text-align: left;
  margin: 0 auto;
  max-width: 720px;
}
.dataTable h2 {
  color: #8d8d8d;
}
.dataTable table {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #cfd8dc;
  color: #a4adb0;
}

.game-container {
  margin: 2rem auto;
  max-width: 340px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.game-cell {
  cursor: pointer;
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
}

.game-cell:before {
  content: '';
  display: table;
  padding-top: 100%;
}

.game-item {
  flex-grow: 1;
  border: 1px solid #ededef;
  display: flex;
  justify-content: center;
  align-items: center;
}
